<div class="cards-container">
  <div class="card" style="width: 18rem;" *ngFor="let b of bebida"> 
    <img [src]="b.image" width="280px" height="350px" (click)="navigateToDetail(b?.id)"/>
    <div class="card-body">
      <h5 class="card-title" style="color: white;">{{ b.nombre }}</h5>
    </div>
    <ul class="list-group list-group-flush" style="list-style: none;">
      <li style="color: white; font-family: cursive;"> {{ b.clase }}</li>
      <li style="color: white; font-family: cursive;"> {{ b.cepa }}</li>
      <li style="color: white; font-family: cursive;"> {{ b.bodega }}</li>
      <li>
        <button class="wp-button">
          <a href="https://api.whatsapp.com/send?phone=543813280297&text=Hola%2C%20estuve%20viendo%20los%20productos%20y%20me%20gustar%C3%ADa%20consultar%20los%20precios." class="float" target="_blank" style="text-decoration: none; color: inherit;">
            <i class="bi bi-whatsapp"> Consultar</i> 
          </a>
        </button>
      </li>
    </ul>
  </div>
</div>
